extends baseEmail 
block content
    h1 #{subject}
    p Hi #{name},
    p Someone (hopefully you) has requested a password reset. Click the link below to set a new password.
    a(href=url) Click here
    p If you didn't request a password reset, ignore this email.
    p Thanks,
    p The Natours Team